#contact-create-form{
  h6, h4{
    margin-bottom: 1rem;
  }
  .app-input{
    margin-bottom: .5rem;
  }
  .alert{
    margin-bottom: .5rem;
  }
  button[type=submit]{
    margin-left: 5px;
    span{
      margin-right: 5px;
    }
  }
}